<ion-header>
 
  <ion-navbar>
 
  </ion-navbar>
 
</ion-header>
 
<ion-content>
 
    <ion-list>
 
      <ion-item>
        <ion-label floating>Comment</ion-label>
        <ion-input [(ngModel)]="comment.content" type="text"></ion-input>
      </ion-item>
 
    </ion-list>  
 
</ion-content>
 
<ion-footer>
 
    <button (click)="save()" color="light" ion-button full>Save</button>
 
</ion-footer>