<ion-header>
  <ion-navbar>
    <ion-title>
      Couch Blog
    </ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="pushAddPostPage()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content padding>

    <ion-card *ngFor="let post of posts">

        <img src="assets/imgs/bjork-live.jpg"/>
    
        <ion-card-content>
    
          <ion-card-title>
    
            {{post.title }}
    
          </ion-card-title>
    
          <p>
    
            <button (click)="viewPost(post)" color="light" ion-button>View Post</button>
    
          </p>
    
        </ion-card-content>
    
        <ion-item>
    
          <ion-icon name='musical-notes' item-start style="color: #d03e84"></ion-icon>
    
           type
    
          <ion-badge item-end>{{post.type}}</ion-badge>
    
        </ion-item>
    
        <ion-item>
    
          <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
    
          Author
    
          <ion-badge item-end>{{post.author }}</ion-badge>
    
        </ion-item>
    
      </ion-card>

  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
